In [1]:
import numpy as np
import pandas as pd

In [15]:
# Do some data preprocessing on the original data
# Output the processed data into another csv file
df = pd.read_csv('training.1600000.processed.noemoticon.csv')

In [81]:
# Loading this entire thing into memory could be painful but who knows
# 0 is negative, 2 is neutral, 4 is positive
df.head()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [16]:
# Rename columns
columns = ['sentiment', 'id', 'date', 'query', 'user', 'tweet']
df.columns = columns

In [83]:
df.head()

,sentiment,id,date,query,user,tweet
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [17]:
drop_these = ['id', 'date', 'query', 'user']
df = df.drop(drop_these, axis=1)

In [85]:
df.head()

   sentiment                                              tweet
0          0  is upset that he can't update his Facebook by ...
1          0  @Kenichan I dived many times for the ball. Man...
2          0    my whole body feels itchy and like its on fire
3          0  @nationwideclass no, it's not behaving at all....
4          0                      @Kwesidei not the whole crew

In [18]:
from string import punctuation

In [19]:
# Function to remove all the @user mentions, hashtags, and links in tweets
def process_stuff(tweet):
    # Make everything lowercase
    tweet = tweet.lower()
    # Remove all the words associated with mentions and hashtags
    split_tweet = tweet.split()
    new_tweet = []
    for word in split_tweet:
        if word[0] != '@' and word[0] != '#' and word[:4] != "http":
            new_tweet.append(word)
    tweet = " ".join(new_tweet)
    # Remove all other punctuation
    tweet = "".join([ch for ch in tweet if ch not in punctuation])
    return tweet

In [20]:
df['tweet'] = df['tweet'].apply(process_stuff)

In [21]:
df['tweet']

0          is upset that he cant update his facebook by t...
1          i dived many times for the ball managed to sav...
2             my whole body feels itchy and like its on fire
3          no its not behaving at all im mad why am i her...
4                                         not the whole crew
                                 ...
1599994    just woke up having no school is the best feel...
1599995    thewdbcom  very cool to hear old walt intervie...
1599996    are you ready for your mojo makeover ask me fo...
1599997    happy 38th birthday to my boo of alll time tup...
1599998                                                happy
Name: tweet, Length: 1599999, dtype: object

In [22]:
# Shuffle the dataframe
from sklearn.utils import shuffle
df = shuffle(df)

In [91]:
df.head()

         sentiment                                              tweet
538651           0        it just cost 30 to fill my car up sad story
1041113          4          thanks too bad all the snow is gone right
716533           0  the line for space mountain is so long and the...
1581645          4                            calvin thats tweet dear
133815           0   wtf why has my ipod been frozen for like an hour

In [23]:
# Dunno if there's more preprocessing to be done
# I guess I'll figure it out later, for now, I'll output to csv
df.to_csv('training_processed.csv', index=False)

In [31]:
# Do some extra processing on my new file
df = pd.read_csv('training_processed.csv')

In [32]:
def change_labels(label):
    if label == 0:
        return 0
    if label == 2:
        return 1
    if label == 4:
        return 2

In [33]:
df['sentiment'] = df['sentiment'].apply(change_labels)

In [34]:
df.to_csv('training_processed_2.csv', index=False)

In [3]:
# More processing
df = pd.read_csv('training_processed_2.csv')

In [80]:
df['tweet'] = df['tweet'].dropna()

In [85]:
df = df.dropna()

In [125]:
def clear_spaces(tweet):
    if tweet.isspace():
        return ''
    else:
        return tweet
cleared = df['tweet'].apply(clear_spaces)
df['tweet'] = cleared[cleared != '']

In [133]:
df = df.dropna()

In [178]:
df.to_csv('training_processed_3.csv', index=False)

In [2]:
df = pd.read_csv('training_processed_3.csv')

In [3]:
# Take the first 100k rows
df = df.head(100000)

In [4]:
df.to_csv('training_processed_3_short.csv', index=False)